ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: grey;
  overflow: hidden;
}

.right {
  float: right;
}


li a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

li a:hover{
  background-color: #111;
}

.home{
  float: left;
}
